.catalog {
	padding-top: 83px;
	padding-bottom: 50px;
}

.catalog__heading {
	margin-bottom: 10px;
}

.catalog__text {
	display: none;
}

.flags {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
}

.flags__item {
	width: 44px;
	height: 44px;
	padding: 6px;
	border-radius: 50%;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}

.flags__item:first-child {
	margin-left: -6px;
}

.flags__item:last-child {
	margin-right: -6px;
}

.flags__button {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}

.flags__button_france {
	background-image: url(../img/france.png);
}

.flags__button_germany {
	background-image: url(../img/germany.png);
}

.flags__button_italy {
	background-image: url(../img/italy.png);
}

.flags__button_russia {
	background-image: url(../img/russia.png);
}

.flags__button_belgium {
	background-image: url(../img/belgium.png);
}

.flags__button:hover {
	box-shadow: 0 0 20px 0 rgba(157, 92, 208, 0.7);
}

.flags__button:active,
.flags__item:focus-within {
	box-shadow: 0 0 0 2px var(--purple) inset;
}

.artists-catalog {
	border-top: 1px solid var(--light-grey);
	margin-bottom: 50px;
}

.artists-catalog__heading {
	color: var(--dark-grey);
	font-size: 18px;
	outline: none;
	padding: 0 4px;
	margin-left: -4px;
}

.artists-catalog__heading:active {
	color: var(--purple);
}

.artists-catalog__subsection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 21px 0 22px;
	border-bottom: 1px solid var(--light-grey);
	outline: none;
}

.artists-catalog__btn {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 0;
	border: none;
	border-radius: 50%;
	background-color: #ececec;
}

.artists-catalog__btn::after {
	position: absolute;
	content: '';
	top: 11px;
	right: 11px;
	width: 7px;
	height: 7px;
	border-left: 1px solid var(--black);
	border-bottom: 1px solid var(--black);
	transform: rotate(-45deg);
	transition-duration: 0.3s;
}

.artists-catalog__subsection.ui-state-active .artists-catalog__btn::after {
	top: 13px;
	transform: rotate(135deg);
}

.artists-catalog__btn:hover {
	background-color: var(--purple);
}

.artists-catalog__btn:hover::after {
	border-color: var(--white);
}

.artists-catalog__btn:active {
	background-color: var(--dark-purple);
	box-shadow: 0 0 0 2px var(--light-purple);
}

.artists-catalog__list {
	margin-top: -1px;
	padding: 24px 0 27px;
	border-top: 1px solid var(--purple);
	border-bottom: 1px solid var(--purple);
}

.artists-catalog__item:not(:last-child) {
	margin-bottom: 14px;
}

.artists-catalog__link {
	margin-left: -4px;
	padding: 0 4px;
	background-image: none;
	background-position: 0 1.2em;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-clip: content-box;
}

.artists-catalog__link:hover {
	color: var(--purple);
	background-image: linear-gradient(var(--purple) 0%, var(--purple) 100%);
}

.artists-catalog__link:active {
	color: var(--dark-purple);
}

.artist-details__picture {
	display: block;
	margin-bottom: 20px;
}

.artist-details__img {
	width: 100%;
}

.artist-details__heading {
	margin-bottom: 18px;
	font-size: 24px;
	font-weight: 600;
}

.artist-details__subtext {
	margin-bottom: 8px;
	font-size: 12px;
	color: var(--light-grey);
}

.artist-details__text {
	line-height: 2;
}

@media(min-width: 768px) {
	.catalog {
		padding-bottom: 80px;
	}

	.catalog__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
	}

	.catalog__heading {
		margin-bottom: 0;
	}

	.catalog__text {
		display: block;
		line-height: 2;
		margin-bottom: 20px;
	}

	.flags {
		width: 446px;
		margin-bottom: 0;
		align-self: flex-end;
	}

	.flags__item {
		width: 66px;
		height: 66px;
		padding: 10px;
	}

	.flags__item:first-child {
		margin-left: -10px;
	}

	.flags__item:last-child {
		margin-right: -10px;
	}

	.flags__button {
		width: 46px;
		height: 46px;
	}

	.flags__button_france {
		background-image: url(../img/france-large.png);
	}

	.flags__button_germany {
		background-image: url(../img/germany-large.png);
	}

	.flags__button_italy {
		background-image: url(../img/italy-large.png);
	}

	.flags__button_russia {
		background-image: url(../img/russia-large.png);
	}

	.flags__button_belgium {
		background-image: url(../img/belgium-large.png);
	}

	.artists-catalog__subsection {
		padding: 32px 0 31px;
	}

	.artists-catalog__heading {
		font-size: 24px;
		padding-bottom: 7px;
	}

	.artists-catalog__btn {
		width: 50px;
		height: 50px;
	}

	.artists-catalog__btn::after {
		top: 18px;
		right: 18px;
		width: 12px;
		height: 12px;
	}

	.artists-catalog__subsection.ui-state-active .artists-catalog__btn::after {
		top: 20px;
		transform: rotate(135deg);
	}

	.artists-catalog__list {
		padding: 32px 0 32px;
		columns: 3;
		column-gap: 34px;
	}

	.artist-details__picture {
		margin-bottom: 30px;
	}

	.artist-details__heading {
		margin-bottom: 13px;
	}

}

@media(min-width: 1024px) {
	.catalog {
		padding-top: 89px;
	}

	.catalog__header {
		justify-content: flex-start;
		margin-bottom: 6px;
	}

	.catalog__heading {
		margin-right: 40px;
	}

	.flags {
		width: 430px;
	}

	.catalog__text {
		margin-bottom: 39px;
	}

	.artists-tab {
		display: flex;
	}

	.artists-catalog {
		order: 2;
		flex-basis: 47%;
	}

	.artist-details {
		order: 1;
		flex-basis: 47%;
		margin-right: 50px;
	}

	.artists-catalog__list {
		columns: 2;
		column-gap: 40px;
	}
}

@media(min-width: 1650px) {
	.catalog {
		padding-top: 82px;
	}

	.catalog__header {
		margin-bottom: 12px;
	}

	.catalog__text {
		max-width: 1080px;
	}

	.artists-catalog {
		flex-basis: 800px;
	}

	.artist-details {
		flex-basis: 750px;
	}

	.artists-catalog__list {
		columns: 3;
		column-gap: 50px;
	}
}
