.catalog {
	padding-top: 83px;
}

.catalog__heading {
	margin-bottom: 10px;
}

.flags {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
}

.flags__item {
	width: 44px;
	height: 44px;
	padding: 6px;
	border-radius: 50%;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}

.flags__item:first-child {
	margin-left: -6px;
}

.flags__item:last-child {
	margin-right: -6px;
}

.flags__button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	transition-property: box-shadow;
	transition-duration: 0.3s;
}

.flags__button_france {
	background-image: url(../img/france.png);
}

.flags__button_germany {
	background-image: url(../img/germany.png);
}

.flags__button_italy {
	background-image: url(../img/italy.png);
}

.flags__button_russia {
	background-image: url(../img/russia.png);
}

.flags__button_belgium {
	background-image: url(../img/belgium.png);
}

.flags__button:hover {
	box-shadow: 0 0 20px 0 rgba(157, 92, 208, 0.7);
}

.flags__button:active,
.flags__item:focus-within {
	box-shadow: 0 0 0 2px var(--purple) inset;
}

.artists-catalog {
	border-top: 1px solid #cacaca;
}

.artists-catalog__heading {
	color: var(--dark-grey);
	font-size: 18px;
}

.artists-catalog__subsection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 21px 0 22px;
	border-bottom: 1px solid #cacaca;
	outline: none;
}

.artists-catalog__btn {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 0;
	border: none;
	border-radius: 50%;
	background-color: #ececec;
}

.artists-catalog__btn::after {
	position: absolute;
	content: '';
	top: 11px;
	right: 11px;
	width: 7px;
	height: 7px;
	border-left: 1px solid var(--black);
	border-bottom: 1px solid var(--black);
	transform: rotate(-45deg);
	transition-duration: 0.3s;
}

.artists-catalog__subsection.ui-state-active .artists-catalog__btn::after {
	top: 13px;
	transform: rotate(135deg);
}

.artists-catalog__list {
	margin-top: -1px;
	padding: 24px 0 27px;
	border-top: 1px solid var(--purple);
	border-bottom: 1px solid var(--purple);
}

.artists-catalog__item:not(:last-child) {
	margin-bottom: 14px;
}

.artists-catalog__link {
	margin-left: -4px;
	padding: 0 4px;
}

.artists-catalog__link:hover {
	color: var(--purple);
	text-decoration: underline;
}

.artists-catalog__link:active {
	color: var(--dark-purple);
}
