/* contacts */

.contacts {
	padding-top: 3px;
	padding-bottom: 28px;
}

.contacts__container {
	position: relative;
	padding: 0;
}

.contacts__heading {
	margin-bottom: 17px;
	padding-left: 15px;
}

.contacts__subheading {
	margin-bottom: 3px;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 600;
}

.contacts__subtext {
	padding-left: 15px;
	margin-bottom: 364px;
	font-size: 14px;
}

#map {
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	height: 320px;
}

.ymaps-2-1-78-ground-pane {
	filter: grayscale(100%);
}

.contacts__form-heading {
	padding-left: 15px;
	margin-bottom: 22px;
	font-weight: 400;
	font-size: 18px;
}

.contacts-form {
	padding: 0 15px;
	margin-bottom: 25px;
}

.contacts-form + .contacts__form-heading {
	margin-bottom: 15px;
}

.contacts-form__input {
	width: 100%;
	padding: 10px 24px;
	margin-bottom: 20px;
	border: 1px solid var(--dark-grey);
	border-radius: 20px;
}

.contacts-form__button {
	min-width: 128px;
	padding: 12px;
	border: 2px solid var(--purple);
	border-radius: 20px;
	background-color: transparent;
	font-size: 12px;
	font-weight: 700;
	color: var(--purple);
}

.social-list {
	display: flex;
}

.contacts__social-list {
	padding-left: 15px;
}

.social-list__item:not(:last-child) {
	margin-right: 20px;
}

.social-list__link {
	display: block;
	width: 50px;
	height: 50px;
	background-size: cover;
}

.social-list__link_whatsapp {
	background-image: url('../img/whatsapp.svg');
}

.social-list__link_telegram {
	background-image: url('../img/telegram.svg');
}

/* footer */

.footer {
	background-color: var(--black);
	padding: 20px;
}

.footer__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__social-list {
	margin-bottom: 20px;
}

.footer .social-list__item:not(:last-child) {
	margin-right: 30px;
}

.social-list__link_vk {
	background-image: url('../img/vk.svg');
}

.social-list__link_instagram {
	background-image: url('../img/instagram.svg');
}

.social-list__link_facebook {
	background-image: url('../img/fb.svg');
}

@media(min-width: 768px) {
	/* contacts */

	.contacts {
		padding-top: 35px;
		padding-bottom: 0;
	}

	.contacts__container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.contacts__heading {
		width: 100%;
		padding-left: 50px;
		margin-bottom: 21px;
	}

	.contacts__block {
		width: 430px;
		height: 700px;
		padding: 124px 45px 104px 50px;
		border: 1px solid var(--light-grey);
	}

	.contacts__subheading {
		padding-left: 0;
		margin-bottom: 14px;
		font-size: 24px;
	}

	.contacts__subtext {
		padding-left: 0;
		margin-bottom: 37px;
		font-size: 16px;
	}

	.contacts__form-heading {
		padding-left: 0;
		margin-bottom: 19px;
		font-size: 24px;
	}

	.contacts-form {
		padding: 0;
		margin-bottom: 40px;
	}

	.contacts-form__input {
		margin-bottom: 23px;
	}

	.contacts-form__button {
		min-width: 157px;
		padding: 17px;
		border-radius: 30px;
		font-size: 18px;
	}

	.social-list {
		padding: 0;
		margin: 0;
	}

	.social-list__item:not(:last-child) {
		margin-right: 30px;
	}

	.social-list__link {
		width: 60px;
		height: 60px;
	}

	#map {
		position: static;
		width: calc(100% - 430px);
		height: 700px;
	}

	/* footer */

	.footer {
		padding: 40px 0;
	}

	.footer__container {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.footer__logo {
		width: 173px;
	}
}

@media(min-width: 1024px) {
	/* contacts */

	.contacts__block {
		width: 487px;
		padding: 124px 102px 104px 50px;
	}

	#map {
		width: calc(100% - 487px);
		height: 700px;
	}
}

@media(min-width: 1650px) {
	/* contacts */

	:root {
		--padding: calc((100% - 1600px) / 2)
	}

	.contacts__heading {
		padding-left: var(--padding);
	}

	.contacts__block {
		width: calc(var(--padding) + 521px);
		padding: 124px 122px 124px var(--padding);
	}

	.social-list__link {
		width: 40px;
		height: 40px;
	}

	.social-list__item:not(:last-child) {
		margin-right: 20px;
	}

	#map {
		width: calc(100% - var(--padding) - 521px);
	}

	/* footer */

	.footer {
		padding: 50px 0;
	}
}
