.events {
	padding-bottom: 37px;
}

.events__heading {
	margin-bottom: 15px;
}

.event-card {
	box-sizing: border-box;
	height: 683px;
	margin-bottom: 25px;
	border: 1px solid var(--light-grey);
}

.event-card__picture {
	display: block;
	width: 100%;
	max-height: 350px;
	overflow: hidden;
	margin-bottom: 12px;
}

.event-card__img {
	width: 100%;
}

.event-card__small-text {
	padding-right: 10px;
	margin-bottom: 7px;
	text-align: right;
	font-size: 12px;
	line-height: 1.3em;
	color: var(--grey);
}

.event-card__heading {
	font-size: 24px;
	line-height: 1.3em;
	letter-spacing: 0.95;
	color: var(--dark-grey);
}

.event-card__text-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 327px;
	margin-right: 10px;
	margin-bottom: 30px;
	padding-left: 27px;
}

.event-card__text {
	padding-right: 17px;
	line-height: 2;
}

.event-card__link {
	margin-left: 21px;
	padding: 2px 6px 6px;
	color: var(--purple);
	background-image: linear-gradient(var(--purple) 0%, var(--purple) 100%);
	background-position: 0 1.4em;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-clip: content-box;
	transition-property: font-weight;
}

.event-card__link:hover {
	font-weight: 700;
}

.event-card__link:active {
	color: var(--dark-purple);
	background-image: linear-gradient(var(--dark-purple) 0%, var(--dark-purple) 100%);
}
.events-swiper__pagination {
	position: relative;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: var(--light-grey);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 7px;
}

.swiper-pagination-bullet-active {
	background-color: #666;
}

.events-enable-btn {
	display: none;
}

@media(min-width: 768px) {
	.events__heading {
		margin-bottom: 20px;
	}

	.events-swiper {
		margin-bottom: 16px;
	}

	.events-swiper__wrapper {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.event-card {
		flex-basis: 47%;
		margin-bottom: 35px;
	}

	.event-card__picture {
		max-height: 200px;
	}

	.events-swiper__pagination {
		display: none;
	}

	.events-enable-btn {
		display: block;
		min-width: 188px;
		margin: 0 auto;
		padding: 17px;
		background-color: transparent;
		border: 2px solid var(--purple);
		border-radius: 30px;
		font-size: 18px;
		font-weight: 700;
		color: var(--purple);
	}

	.events-enable-btn:hover {
		border: 2px solid var(--light-purple);
	}

	.events-enable-btn:active {
		border: 2px solid var(--dark-purple);
	}

	.event-card_third,
	.event-card_last {
		display: none;
	}
}

@media(min-width: 1024px) {
	.events-swiper__wrapper {
		justify-content: flex-start;
	}

	.event-card {
		flex-basis: 31%;
	}

	.event-card:not(:nth-child(3n)) {
		margin-right: 32px;
	}

	.event-card_third {
		display: block;
	}
}

@media(min-width: 1650px) {
	.event-card {
		flex-basis: 500px;
		height: 700px;
		margin-bottom: 50px;
	}

	.event-card:not(:nth-child(3n)) {
		margin-right: 50px;
	}

	.event-card__picture {
		max-height: 300px;
		margin-bottom: 14px;
	}

	.event-card__small-text {
		padding-right: 17px;
	}

	.event-card__text-wrap {
		justify-content: flex-start;
		height: 260px;
		margin-right: 30px;
		margin-bottom: 23px;
		padding-left: 50px;
	}

	.event-card__text {
		padding-right: 20px;
	}

	.event-card__link {
		margin-left: 44px;
	}
}
