.publications {
	padding-top: 53px;
	background-image: url('../img/publications-bg-mobile.jpg');
	background-size: cover;
	color: var(--white);
}

.publications__heading {
	margin-bottom: 15px;
}

.publications-form {
	margin-bottom: 50px;
}

.categories-fieldset,
.price-fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.categories-fieldset {
	margin-bottom: 27px;
}

.categories-fieldset__legend {
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #fff8;
	border-bottom: 1px solid #fff8;
	font-weight: 700;
}

.categories-fieldset__legend::after {
	content: "";
	position: absolute;
	right: 1px;
	top: 13px;
	width: 8px;
	height: 8px;
	border-right: 1px solid var(--white);
	border-bottom: 1px solid var(--white);
	transform: rotate(45deg);
}

.categories-fieldset__checkbox {
	display: none;
	position: relative;
	width: fit-content;
	height: 0;
	padding: 10px 0 10px 24px;
	border-bottom: 1px solid #fff8;
	cursor: pointer;
	transition-property: height;
	transition-duration: 0.3s;
}

.categories-fieldset__checkbox.active {
	display: block;
	height: auto;
}

.checkbox__input {
	display: none;
}

.checkbox__box {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 0;
	top: 13px;
	border: 1px solid var(--white);
	transition-property: border;
	transition-duration: 0.3s;
}

.checkbox__box::after {
	position: absolute;
	top: 3px;
	left: 3px;
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--light-purple);
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.checkbox__input:checked + .checkbox__box {
	border: 1px solid var(--light-purple);
}

.checkbox__input:checked + .checkbox__box::after {
	opacity: 1;
}

.price-fieldset__legend {
	display: block;
	font-weight: 700;
	margin-bottom: 12px;
}

.price-fieldset__input-block {
	width: fit-content;
	padding: 0 8px;
	border: 1px solid #fff8;
	border-radius: 6px;
	vertical-align: middle;
}

.price-fieldset__input {
	display: inline-block;
	max-width: 73px;
	margin-right: 7px;
	margin-left: 10px;
	padding: 10px 10px;
	border: 0;
	background-color: rgba(157, 92, 208, 0.5);
	color: var(--white);
}

.publications__pagination {
	display: none;
}

.publications-swiper__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.publication-card {
	width: 44%;
	margin-bottom: 50px;
}

.publication-card:nth-child(2n-1) {
	margin-right: 30px;
}

.publication-card__picture {
	display: block;
	width: 100%;
	margin-bottom: 8px;
}

.publication-card__img {
	width: 100%;
}

.publication-card__heading {
	font-size: 12px;
	margin-bottom: 3px;
}

.publication-card__author {
	font-size: 12px;
	margin-bottom: 5px;
}

.publication-card__price {
	font-size: 12px;
	font-style: italic;
	margin-bottom: 13px;
}

.publication-card__button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
	border: 2px solid var(--purple);
	border-radius: 20px;
	background-color: transparent;
	font-size: 12px;
	font-weight: 700;
}

@media(min-width: 768px) {
	.publications {
		padding-top: 85px;
		padding-bottom: 80px;
		background-image: url('../img/publications-bg-768.jpg');
		background-size: cover;
		color: var(--white);
	}

	.publications__heading {
		margin-bottom: 28px;
	}

	.categories-fieldset {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 160px;
		margin-bottom: 39px;
	}

	.categories-fieldset__legend {
		padding: 0;
		border: 0;
		margin-bottom: 14px;
	}

	.categories-fieldset__legend::after {
		content: none;
	}

	.categories-fieldset__column:not(:last-child) {
		margin-right: 55px;
	}

	.categories-fieldset__checkbox {
		display: block;
		height: auto;
		padding: 0 0 0 24px;
		border: 0;
	}

	.categories-fieldset__checkbox:not(:last-child) {
		margin-bottom: 14px;
	}

	.checkbox__box {
		top: 3px;
	}

	.price-fieldset__legend {
		margin-bottom: 14px;
	}

	.publications__pagination {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: fit-content;
		margin-bottom: 30px;
	}

	.publications-swiper__pagination {
		position: static;
		display: inline-block;
		min-width: 70px;
		width: fit-content;
		padding: 0 5px;
		left: 30px;
		top: 5px;
	}

	.publications-swiper {
		width: 92%;
	}

	.publications-swiper__button-prev::after {
		transform: rotate(45deg);
		left: 12px;
	}

	.publications-swiper__button-next::after {
		transform: rotate(-135deg);
		right: 12px;
	}

	.publications-swiper__wrapper {
		flex-wrap: nowrap;
	}

	.publication-card {
		margin-bottom: 0;
	}

	.publication-card:nth-child(2n-1) {
		margin-right: 0;
	}

	.publication-card__picture {
		margin-bottom: 12px;
	}

	.publication-card__text-block {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 13px;
	}

	.publication-card__heading {
		width: 70%;
		margin-bottom: 4px;
		font-size: 16px;
	}

	.publication-card__author {
		font-size: 16px;
		order: 3;
	}

	.publication-card__price {
		width: 30%;
		margin-bottom: 0;
		text-align: right;
		font-size: 16px;
		order: 2;
	}

	.publication-card__button {
		width: fit-content;
		min-width: 120px;
		padding: 9px;
		font-size: 16px;
	}
}

@media(min-width: 1024px) {
	.publications {
		height: 763px;
		background-image: url('../img/publications-bg-1024.jpg');
	}

	.publications .container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 598px;
	}

	.publications__heading {
		width: fit-content;
	}

	.publications-form {
		width: 295px;
		margin: 0;
	}

	.categories-fieldset {
		display: block;
		width: fit-content;
		height: auto;
	}

	.categories-fieldset__column:not(:last-child) {
		margin-right: 0;
		margin-bottom: 14px;
	}

	.publications__pagination {
		padding-top: 29px;
	}

	.publications-swiper__button-prev::after,
	.publications-swiper__button-next::after {
		top: 40px;
	}

	.publications-swiper {
		width: 68%;
		margin: 0;
	}
}

@media(min-width: 1650px) {
	.publications {
		height: 763px;
		padding-bottom: 77px;
		background-image: url('../img/publications-bg-desktop.jpg');
	}

	.publications .container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 601px;
	}

	.publications-form {
		width: 450px;
	}

	.publications-swiper {
		width: 1150px;
	}

	.publication-card__picture {
		margin-bottom: 21px;
	}
}
