.html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--light-purple:#c283f3;
	--purple: #9d5cd0;
	--dark-purple: #7943A4;
	--white: #fff;
	--black: #000;
	--dark-grey: #333;
	--grey: #999;
	--light-grey: #cacaca;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.body {
	min-height: 100%;
	min-width: 320px;
	width: 100%;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background-color: var(--white);
}

.text-block-reset {
	margin: 0;
}

.ul-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link-reset {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.img-reset {
	max-width: 100%;
	height: auto;
}

.selectable {
	transition-property: box-shadow, color, background;
	transition-duration: 0.3s;
}

.selectable:focus {
	box-shadow: 0 0 0 2px var(--dark-purple);
}

.selectable:focus:not(.focus-visible) {
	box-shadow: none;
}

.selectable:hover {
	color: var(--light-purple);
}

.selectable:active {
	color: var(--dark-purple);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	width: 100%;
	padding: 0 15px;
}

.heading {
	font-size: 28px;
	font-weight: 400;
}

.paragraph {
	line-height: 2em;
}

@media(min-width: 768px) {
	.container {
		padding: 0 50px;
	}

	.heading {
		font-size: 48px;
	}
}

@media(min-width: 1024px) {

}

@media(min-width: 1650px) {

}
